[submodule "younger/logics/core"]
	path = younger/logics/core
	url = git@github.com:Yangs-AI/Younger-Logics-Core.git
[submodule "younger/logics/ir"]
	path = younger/logics/ir
	url = git@github.com:Yangs-AI/Younger-Logics-IR.git
[submodule "younger/tools/bench"]
	path = younger/tools/bench
	url = git@github.com:Yangs-AI/Younger-Tools-Bench.git
[submodule "younger/apps/dl"]
	path = younger/apps/dl
	url = git@github.com:Yangs-AI/Younger-Apps-DL.git
